auto/
latex-inspirations/
*-blx.bib
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.run.xml
*.toc
*.auxlock
*.idx
*.ilg
*.ind
*.lof
*.lot
*.lox
*.synctex.gz
_region_*
.direnv
figures-ext
*.fdb_latexmk
*.mmz
*.memo.dir
*.fdb_latexmk
*.fls
*.fmt
*.xmpdata
*.xmpi
result
main.txt
